<template>
  <div>
    <form class="needs-validation" @submit.prevent="register">
      <h4 class="title" style="margin-top: 10px">
        Complete el formulario para registrar
      </h4>
      <div class="form-row form">
        <div class="col-md-6 mb-3">
          <label class="">Nombre</label>
          <input
            type="text"
            class="form-control"
            v-model="animals.name"
            required
          />
        </div>
      </div>
      <div class="form-row form">
        <div class="col-md-6 mb-3">
          <label class="">Años</label>
          <input
            type="number"
            class="form-control"
            min="0"
            v-model="animals.age"
            required
          />
        </div>
      </div>
      <div class="form-row form">
        <div class="col-md-6 mb-3">
          <label class="">Peso</label>
          <input
            type="text"
            class="form-control"
            min="0"
            v-model="animals.weight"
            required
          />
        </div>
      </div>
      <div class="form-row form">
        <div class="col-md-6 mb-3">
          <label class="">Altura</label>
          <input
            type="text"
            class="form-control"
            min="0"
            v-model="animals.height"
            required
          />
        </div>
      </div>

      <div class="form-row form">
        <div class="col-md-4 mb-3" style="border-right: 1px solid red">
          <label class="">Sexo</label>
          <br />
          <div class="form-check form-check-inline options">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio1"
              value="M"
              v-model="animals.gender"
            />
            <label class="form-check-label" for="inlineRadio1">Macho</label>
          </div>
          <br />
          <div class="form-check form-check-inline options">
            <input
              class="form-check-input"
              type="radio"
              name="inlineRadioOptions"
              id="inlineRadio2"
              value="H"
              v-model="animals.gender"
            />
            <label class="form-check-label" for="inlineRadio2">Hembra</label>
          </div>
        </div>

        <div class="col-md-4 mb-3" style="margin-top: 30px">
          <input
            type="checkbox"
            checked
            data-toggle="toggle"
            data-onstyle="success"
            data-offstyle="danger"
            style="margin-right: 10px"
            v-model="animals.domestic"
          />
          <label class="">Doméstico</label>
        </div>
      </div>

      <div class="form-row form">
        <div class="form-row summit_btn">
          <button
            class="btn btn-success"
            style="margin-right: 2px"
            type="submit"
          >
            {{ creating ? "Registrar" : "Editar" }}
          </button>
          <button class="btn btn-danger" type="button" @click="ClearForm">
            Limpiar
          </button>
        </div>
      </div>
    </form>
  </div>
</template>
<script>
import { firestore } from "../services/dbConnection";

export default {
  name: "FormView",

  data: () => ({
    creating: false,
    id: null,
    original_animal: {},
    animals: {
      name: null,
      age: null,
      weight: null,
      height: null,
      gender: null,
      domestic: false,
    },
  }),
  methods: {
    async register() {
      try {
        if (!this.creating) {
          return this.EditAnimal();
        }
        const { name, age, weight, height, gender, domestic } = this.animals;
        if (
          Number.isNaN(parseFloat(weight)) ||
          Number.isNaN(parseFloat(height))
        ) {
          return this.$swal({
            icon: "error",
            title: "Oops...",
            text: "Peso y la altura deben ser numéricos!",
          });
        }
        await firestore.collection("animals").add({
          "data-animal": `${name}|${parseInt(age)}|${parseFloat(
            weight
          )}|${parseFloat(height)}|${gender}|${domestic}`,
        });
        this.ClearForm();
        return this.$swal({
          icon: "success",
          title: "Perfecto...",
          text: "Registro exitoso!",
        });
      } catch (error) {
        console.log(error);
      }
    },
    ClearForm() {
      this.animals.name = null;
      this.animals.age = null;
      this.animals.weight = null;
      this.animals.height = null;
      this.animals.gender = null;
      this.animals.domestic = false;
    },
    async GetIdAnimal() {
      const url = window.location.href;
      this.id = url.split("/").slice(-1)[0];
      if (this.id == "") {
        this.creating = true;
        return;
      }
      try {
        const animal_selected = await firestore.doc(`animals/${this.id}`).get();
        const animal_split = animal_selected.data()["data-animal"].split("|");
        this.animals.name = animal_split[0];
        this.animals.age = parseInt(animal_split[1]);
        this.animals.weight = parseFloat(animal_split[2]);
        this.animals.height = parseFloat(animal_split[3]);
        this.animals.gender = animal_split[4];
        this.animals.domestic = animal_split[5].toLowerCase() == "true";

        this.original_animal = {
          name: animal_split[0],
          age: parseInt(animal_split[1]),
          weight: parseFloat(animal_split[2]),
          height: parseFloat(animal_split[3]),
          gender: animal_split[4],
          domestic: animal_split[5].toLowerCase() == "true",
        };
      } catch (error) {
        console.log(error);
      }
    },
    async EditAnimal() {
      try {
        const { name, age, weight, height, gender, domestic } = this.animals;
        if (
          Number.isNaN(parseFloat(weight)) ||
          Number.isNaN(parseFloat(height))
        ) {
          return this.$swal({
            icon: "error",
            title: "Oops...",
            text: "Peso y la altura deben ser numéricos!",
          });
        }
        if (this.CompareAnimals()) {
          await firestore.doc(`animals/${this.id}`).set({
            "data-animal": `${name}|${parseInt(age)}|${parseFloat(
              weight
            )}|${parseFloat(height)}|${gender}|${domestic}`,
          });
          this.ClearForm();
          window.location.replace("/");
          return this.$swal({
            icon: "success",
            title: "Perfecto...",
            text: "Se ha editado con éxito!",
          });
        } else {
          return this.$swal({
            icon: "info",
            title: "Oops...",
            text: "No hubo cambios!",
          });
        }
      } catch (error) {
        console.log(error);
      }
    },
    CompareAnimals() {
      const { name, age, weight, height, gender, domestic } = this.animals;
      console.log(this.animals);
      console.log(this.original_animal);
      const temp_animal =
        name != this.original_animal.name ||
        age != this.original_animal.age ||
        weight != this.original_animal.weight ||
        height != this.original_animal.height ||
        gender != this.original_animal.gender ||
        domestic != this.original_animal.domestic;
      return temp_animal;
    },
  },
  created() {
    this.GetIdAnimal();
  },
};
</script>
<style>
.form {
  justify-content: center;
  color: darkcyan;
}
.summit_btn {
  justify-content: center;
}
.title {
  color: darkcyan;
}
.options {
  color: black;
}
</style>