<template>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cadena de Caracteres</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in animals" :key="item.id">
        <td>{{ item['data'] }}</td>
        <td><button type="button" class="btn btn-warning" @click="Selected(item)">Editar</button></td>
      </tr>
    </tbody>
  </table>
</template>
<script>
import { firestore } from "../services/dbConnection";

export default {
  name: "ListOfAnimal",
  data: () => ({
    animals: [],
  }),
  methods: {
    async GetAnimals() {
      try {
        await firestore
          .collection("animals")
          .onSnapshot((querySnapshot) => {
            this.animals = this.onUpdate(querySnapshot);
          });
      } catch (error) {
        console.log(error);
      }
    },
    onUpdate(list){
      const list_of_animals = [];
      list.forEach(item => {
        list_of_animals.push({
          id: item.id,
          data: item.data()['data-animal']
        });
      });
      return list_of_animals;
    },
    Selected(item){
      window.location.replace(`/${item['id']}`);
    }
  },
  created(){
    this.GetAnimals();
  }
};
</script>
<style>
</style>