<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="./assets/animales.jpeg" class="rounded-circle" alt="animales" height="150px" width="200px">
          <br>
          <FormView/>
        </div>
        <div class="col">
          <ListOfAnimals/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FormView from './components/FormViews.vue';
import ListOfAnimals from './components/ListOfAnimals.vue';


export default {
  name: 'App',
  components: {
    FormView,
    ListOfAnimals
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 20px;
}

</style>
